.button {
   &__default {
      background: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 6px 20px;
      border-radius: 2px;
      align-items: center;
      display: flex;
      transition: .3s;

      &:hover {
         background: #fff;
         color: #5D5D5D;
      }
   }

   &__nobg {
      background-color: transparent;
      font-weight: 500;
      color: #fff;
      border: none;
      transition: .3s;

      &:hover {
         color: #d3d3d3;
      }
   }
}

.navigation {
   padding: 15px 40px;
   border-bottom: 1px solid #bebebe;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__logo {
      cursor: pointer;

      img {
         width: 158px;
      }
   }

   &__content {
      width: 100%;
      align-items: center;
   }
}

.main {
   background-color: #fff;
   font-family: "GolosRegular", sans-serif;

   &__content {
      margin: 100px 0;
      

      &-text {
         font-family: "GolosMedium", sans-serif;
         font-size: 68px;
         line-height: 1.1;
         color: #fff;
         margin-bottom: 50px;
      }

      &-subtext {
         color: #FCE9F0;
         font-size: 18px;
         font-weight: 400;
      }
   }
   
   &__circle {
      border: 1px solid #93E3C6;
      color: #fff;
      font-size: 22px;
      width: 290px;
      height: 290px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      box-sizing: border-box;
   }
}